.container{ 
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "stud break css"
    "boy cont cont"

    ;
    
    
}
 #header{
     grid-area: stud;
     line-height: normal;
border: 1px solid;
 }
 #center{
     grid-area: break;
     border: 2px solid;

 }
 #css-content{
     grid-area: css;
     border: 2px solid;
 }
 #turtle{
     grid-area: boy;
     border: 2px solid;
 }
 #content{
     grid-area: cont;
     border: 2PX solid;

 }
 #content1{ 
     height: 20%;
     background-color:rgb(208, 211, 24);
 }
 #content2{
background-color: rgb(108, 108, 247);
height: 20%;
 }
 #content3{
     background-color:rgb(52, 52, 175) ;
     height: 20%;
 }
 #content4{
     background-color: aquamarine;
     height: 20%;
     
 }
 #content0{
     background-color: blue;
     height: 20%;
 }
 #content4{
     background-color: blueviolet;
 }
h5{
    text-align: center;
}
h4{text-align: center;}

 /* smaller devices of 576px and up */
 @media(max-width: 576px){
     .container{
         grid-template-columns: auto;
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
         grid-template-areas: 
         "stud"
         "break"
         "css"
         "boy"
         "cont"
         
         ;
     }
 }